Source: libeoi
Section: gui
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Uploaders: Alexander Kerner <lunohod@openinkpot.org>
Build-Depends: debhelper (>= 7), automake, libtool, pkg-config, libecore-dev, libevas-dev, libedje-dev, libefreet-dev, libchoicebox-dev, libkeys-dev
XCS-Cross-Host-Build-Depends: debhelper (>= 7), automake, libtool, pkg-config
XCS-Cross-Build-Depends: libecore-dev, libevas-dev, libedje-dev, libefreet-dev, libchoicebox-dev, libkeys-dev
Priority: optional
Standards-Version: 3.8.3

Package: libeoi1
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: libeoi0, epuzzles (<= 0.1+20090518-15)
Description: OpenInkpot-specific extensions for EFL libraries
 This package provides EFL-based widgets and tools specific for OpenInkpot:
   - battery handling and drawing
   - clock handling
   - "frame" window
   - "help" widget
   - choicebox and frame window glue code

Package: libeoi-dev
Priority: optional
Architecture: any
Depends: libeoi1 (= ${binary:Version}), ${shlibs:Depends}, libkeys-dev
Description: OpenInkpot-specific extensions for EFL libraries -- development files
 This package provides EFL-based widgets and tools specific for OpenInkpot:
   - battery handling and drawing
   - clock handling
   - "frame" window
   - "help" widget
   - choicebox and frame window glue code
 .
 This package contains header files and symlinks necessary to link with library.

Package: libeoi1-dbg
Priority: extra
Architecture: any
Section: debug
Depends: libeoi1 (= ${binary:Version})
Description: OpenInkpot-specific extensions for EFL libraries -- debugging symbols
 This package provides EFL-based widgets and tools specific for OpenInkpot:
   - battery handling and drawing
   - clock handling
   - "frame" window
   - "help" widget
   - choicebox and frame window glue code
 .
 This package contains debugging symbols for shared library

Package: libeoi-settings-n516
Priority: optional
Architecture: any
Description: OpenInkpot-specific extensions for EFL libraries -- Hanvon N516 support
 This package provides EFL-based widgets and tools specific for OpenInkpot:
   - battery handling and drawing
   - clock handling
   - "frame" window
   - "help" widget
   - choicebox and frame window glue code
 .
 This package contains settings required for normal operation on Hanvon N516.

Package: libeoi-settings-v3
Priority: optional
Architecture: any
Description: OpenInkpot-specific extensions for EFL libraries -- Hanlin V3 support
 This package provides EFL-based widgets and tools specific for OpenInkpot:
   - battery handling and drawing
   - clock handling
   - "frame" window
   - "help" widget
   - choicebox and frame window glue code
 .
 This package contains settings required for normal operation on Hanlin V3.
